input.tableedit,
select.tableedit {
    font-size: 0.875em;
    border-color: cadetblue;
    border-radius: 0;
}

input.tableeditsm,
select.tableeditsm {
    font-size: 0.75em;
    border-color: cadetblue;
    border-radius: 0;
}
